.Rproj.user
.Rhistory
.RData
.Ruserdata
RPackage/HMLET_0.1.0.tar.gz
RPackage/HMLET_0.1.0.tar.gz
RPackage/HMLET_0.1.0.tar.gz
RPackage/HMLET.Rcheck/HMLET/R/HMLET.rdb
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/DESCRIPTION
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/LICENSE
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/ClusterStats_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/ComputeSubjectLevelPerm_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/ComputeTValues_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/CreateTimeBinData_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/ExportDataForGUI_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/FilterClustersTimepoints_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/FindClusters_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/GenerateRandomData_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/PermutationTest_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/PermutationTestDataPrep_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/PlotNullDistribution_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/PlotTemporalGazeTrends_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/PreprocessRawData_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/RemoveIncompleteTimePoints_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/SubjectLevelPermutationTestWithin_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/TrialLevelPermutationTestWithin_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/man/UniquePermutations_HMLET.Rd
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/NAMESPACE
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/ClusterStats_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/ComputeSubjectLevelPerm_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/ComputeTValues_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/CreateTimeBinData_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/ExportDataForGUI_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/FilterClustersTimepoints_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/FindClusters_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/GenerateRandomData_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/PermutationTest_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/PermutationTestDataPrep_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/PlotNullDistribution_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/PlotTemporalGazeTrends_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/PreprocessRawData_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/documentation_1.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/documentation_2.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/github_1.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/github_2.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/RStudio_1.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/RStudio_2.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/README_imgs/RStudio_3.png
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/RemoveIncompleteTimePoints_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/SubjectLevelPermutationTestWithin_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/TrialLevelPermutationTestWithin_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/UniquePermutations_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/R/zzz.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/_snaps/PermutationTest_HMLET/null-distribution.svg
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/_snaps/PermutationTest_HMLET/temporal-gaze-trends.svg
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/ClusterInfos.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/Data.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/HMLET_Testing_Data.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/HMLET_TestingRoutine.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/NullDistribution.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/Output_ClusterStats.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/Output_PermutationTest.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/Output_PermutationTestDataPrep.csv
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/PermuationSampleNumber.txt
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/test-ClusterStats_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/test-CreateTimeBinData_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/test-PermutationTest_HMLET.R
RPackage/HMLET.Rcheck/00_pkg_src/HMLET/tests/testthat/test-PermutationTestDataPrep_HMLET.R
RPackage/HMLET.Rcheck/00check.log
RPackage/HMLET.Rcheck/00install.out
RPackage/HMLET.Rcheck/HMLET/DESCRIPTION
RPackage/HMLET.Rcheck/HMLET/help/aliases.rds
RPackage/HMLET.Rcheck/HMLET/help/AnIndex
RPackage/HMLET.Rcheck/HMLET/help/HMLET.rdb
RPackage/HMLET.Rcheck/HMLET/help/HMLET.rdx
RPackage/HMLET.Rcheck/HMLET/help/paths.rds
RPackage/HMLET.Rcheck/HMLET/html/00Index.html
RPackage/HMLET.Rcheck/HMLET/html/R.css
RPackage/HMLET.Rcheck/HMLET/INDEX
RPackage/HMLET.Rcheck/HMLET/LICENSE
RPackage/HMLET.Rcheck/HMLET/Meta/features.rds
RPackage/HMLET.Rcheck/HMLET/Meta/hsearch.rds
RPackage/HMLET.Rcheck/HMLET/Meta/links.rds
RPackage/HMLET.Rcheck/HMLET/Meta/nsInfo.rds
RPackage/HMLET.Rcheck/HMLET/Meta/package.rds
RPackage/HMLET.Rcheck/HMLET/Meta/Rd.rds
RPackage/HMLET.Rcheck/HMLET/NAMESPACE
RPackage/HMLET.Rcheck/HMLET/R/HMLET
RPackage/HMLET.Rcheck/HMLET/R/HMLET.rdx
RPackage/HMLET.Rcheck/tests/startup.Rs
RPackage/HMLET.Rcheck/tests/testthat.R
RPackage/HMLET.Rcheck/tests/testthat.Rout
RPackage/HMLET.Rcheck/tests/testthat/_snaps/PermutationTest_HMLET/null-distribution.svg
RPackage/HMLET.Rcheck/tests/testthat/_snaps/PermutationTest_HMLET/temporal-gaze-trends.svg
RPackage/HMLET.Rcheck/tests/testthat/ClusterInfos.csv
RPackage/HMLET.Rcheck/tests/testthat/Data.csv
RPackage/HMLET.Rcheck/tests/testthat/HMLET_Testing_Data.csv
RPackage/HMLET.Rcheck/tests/testthat/HMLET_TestingRoutine.R
RPackage/HMLET.Rcheck/tests/testthat/NullDistribution.csv
RPackage/HMLET.Rcheck/tests/testthat/Output_ClusterStats.csv
RPackage/HMLET.Rcheck/tests/testthat/Output_PermutationTest.csv
RPackage/HMLET.Rcheck/tests/testthat/Output_PermutationTestDataPrep.csv
RPackage/HMLET.Rcheck/tests/testthat/PermuationSampleNumber.txt
RPackage/HMLET.Rcheck/tests/testthat/test-ClusterStats_HMLET.R
RPackage/HMLET.Rcheck/tests/testthat/test-CreateTimeBinData_HMLET.R
RPackage/HMLET.Rcheck/tests/testthat/test-PermutationTest_HMLET.R
RPackage/HMLET.Rcheck/tests/testthat/test-PermutationTestDataPrep_HMLET.R
RPackage/HMLET.Rcheck/tests/testthat/testthat-problems.rds
RPackage/HMLET.Rcheck/tests/testthat/_snaps/PermutationTest_HMLET/temporal-gaze-trends.new.svg
RPackage/HMLET.Rcheck/tests/testthat.Rout.fail
MATLAB GUI/datRetTest.csv
MATLAB GUI/datEncTest.csv
